@model WebApp.ViewModels.CourseFilterViewModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<h1>@ViewBag.Title</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>

<form asp-controller="Courses" asp-action="Index" method="get">
    <p>
        Title: <input type="text" asp-for="TitleString" />
        Semester: <input type="number" asp-for="Semester" />
        Programme: <input type="text" asp-for="ProgrammeString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Teacher1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Teacher2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    @if (item.FirstTeacherId != null)
                        @Html.DisplayFor(modelItem => item.Teacher1.User.FullName)
                </td>
                <td>
                    @if (item.SecondTeacherId != null)
                        @Html.DisplayFor(modelItem => item.Teacher2.User.FullName)
                </td>
                <td>
                    <a asp-controller="Enrollments" asp-action="Index" asp-route-courseId="@item.Id">Enrollments</a>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.Raw("|")
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.Raw("|")
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> @Html.Raw("|")
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
