@model WebApp.ViewModels.StudentFilterViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Students" asp-action="Index" method="get">
    <p>
        Name: <input type="text" asp-for="NameString" />
        ID: <input type="number" asp-for="IdString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().AcquiredCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().CurrentSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.FirstOrDefault().EducationLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquiredCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSemester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                <a asp-controller="Enrollments" asp-action="Index" asp-route-studentId="@item.Id">Enrollments</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
