@model WebApp.ViewModels.TeacherCoursesViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>
    @Html.DisplayFor(model => model.Teacher.FirstName)'s Courses
</h1>

@*<p>
        <a asp-action="CreateCourse">Create New</a>
    </p>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().EducationLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    <a asp-action="CourseDetails" asp-route-courseId="@item.Id" asp-route-id="@ViewContext.RouteData.Values["id"]">Details</a> |
                    <a asp-action="Leave" asp-route-courseId="@item.Id" asp-route-id="@ViewContext.RouteData.Values["id"]">Leave</a>
                </td>
            </tr>
        }
    </tbody>
</table>
